* {
    box-sizing: border-box;
}

body {
    font-family: 'Abel';
}

.pascal-t-column {
    border: 1px solid black;
    background-color: salmon;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: red;
    }
}

@keyframes top-to-bottom {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.pascal-t-row {
    opacity: 0; /* to be animated */
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .pascal-t-column {
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    transition: translate 0.5s ease-out;

    animation-name: top-to-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
